<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.YD.mapper.userMapper">
    <select id="selectById" parameterType="int" resultType="org.YD.pojo.Users">
        SELECT * FROM users WHERE user_id = #{id};
    </select>
    <select id="selectByName" parameterType="String" resultType="org.YD.pojo.Users">
        SELECT * FROM users WHERE user_name = #{username};
    </select>
    <select id="getAll" resultType="org.YD.pojo.Users">
        SELECT * FROM users;
    </select>

</mapper>