<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.YD.mapper.RoomMapper">
    <select id="selectRoomMate" resultType="org.YD.Pojo.roomMate">
        select * from room
    </select>
    <select id="selectByName" parameterType="String" resultType="org.YD.Pojo.roomMate">
        select * from room where name = #{name}
    </select>
</mapper>